@font-face {
  font-family: "ARCADECLASSIC.TTF";
  src: url('./assets/ARCADECLASSIC.TTF');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  font-family: "ARCADECLASSIC.TTF"; 
  font-size: 10px;
  color: black;
}

/* <----- HEADER ----> */

header {
  background: rgb(191,215,71);
  background: linear-gradient(270deg, rgba(191,215,71,1) 0%, rgba(2,105,25,1) 100%);
  padding: 0.35rem 7rem;
  font-size: 3rem;
  text-align: left;
}

header > span > img {
  width: 2.5rem;
}

/* <----- INPLAY SECTION ----> */

.inplay {
  background: rgb(191,215,71);
  background: linear-gradient(270deg, rgba(191,215,71,1) 0%, rgba(2,105,25,1) 100%);
  padding: 0.5rem 7rem;
  display: flex;
  justify-content: space-between;
}

/* <----- SECTION ON THE LEFT ----> */

.section-game {
  background-color: black;
  border: 3px solid white;
  padding: 0 1rem 1rem 1rem;
  width: 55vw;
}

.mole-group {
  margin: 1.3rem 0 0 0.7rem;
  padding: 0 2.9rem;
}

.mole-group > img {
  width: 19rem;
  margin: 0.2rem 0.2rem;
}

/* <----- SECTION ON THE RIGHT ----> */

.section-player {
  background-color: rgb(211, 191, 16);
  border: 3px inset black;
  padding: 1rem 2rem;
  width: 30vw;
}

/* <----- RIGHT - H1 ----> */
h1 {
  background-color: black;
  font-size: 7rem;
  letter-spacing: 0.7rem;
  padding-left: 0.7rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: white;
  box-shadow: 0.3rem 0.3rem 0.7rem -0.1rem rgb(95, 87, 3);
}

/* <----- RIGHT - TIMER, SCORE, WHACKED ----> */

.whack-container {
  background-color: rgba(110, 103, 17, 0.623);
  /* border: 1px solid red; */
  box-shadow: 0.3rem 0.3rem 0.7rem -0.1rem rgb(95, 87, 3);
  margin-bottom: 2.5rem;
}


#timer-text,
#score-text,
#whacked-text {
  background-color: rgb(196, 191, 128);
  /* border: 1px solid black; */
  box-shadow: 0.3rem 0.3rem 0.7rem -0.1rem rgb(95, 87, 3);
  padding-left: 0.5rem;
  font-size: 5rem;
  margin-bottom: 2.5rem;
}

#whacked-text {
  font-size: 3.3rem;
  text-align: center;
}

#timer-text > span,
#score-text > span,
#whacked-text > span {
  font-size: 4rem;
}

#timer-icon,
#score-icon {
  width: 5rem;
  margin: 1rem 1rem 0 0;
}

.whacked-icon {
  width: 3rem;
  margin: 1rem 0.5rem 0 0.5rem;
}

/* <----- RIGHT - CAPTURED ----> */

.captured {
  /* background-color: steelblue; */
  /* border: 1px solid black; */
  text-align: center;
  padding: 1rem 2rem;
}

.mole-inactive {
  width: 5rem;
  opacity: 0.1;
}

.mole-active {
  opacity: 1;
}

/* <----- SECTION ON THE RIGHT ----> */

.btn-start {
  background-color: rgb(253, 93, 0);
  border: 1px solid black;
  display: block;
  
  padding-left: 1.5rem;
  font-size: 8rem;
  color: black;
  text-decoration: none;
  text-align: center;
}

.btn-start-active {
  background-color: rgb(39, 219, 3);;
}

.btn-start:hover {
  background-color: rgb(39, 219, 3);
}

/* <----- MODAL ----> */

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6); 
}

.modal-active {
  display: block;
}

.modal-content {
  background-color: rgba(0,0,0,0.8);
  margin: 10rem auto;
  padding: 2rem 2rem 2.3rem 2rem;
  border: 3px solid white;
  width: 50%;
  color: white;
  word-spacing: 1rem;
  text-align: center;
}

.modal-header {
  font-size: 6rem;
}

.modal-body {
  font-size: 3rem;
}

.modal-footer {
  margin-top: 2rem;
}

.btn-restart {
  text-decoration: none;
  padding-left: 1rem;
  color: black;
  font-size: 6rem;
  background-color: rgb(253, 93, 0);;
  border: 2px solid white;
}

.btn-restart:hover {
  background-color: rgb(39, 219, 3); 
}